{
.appVersion = "3513";
.formatVersion = 3;
customParameters = (
{
name = "Write lastChange";
value = 0;
},
{
name = "Write DisplayStrings";
value = 0;
}
);
date = "2021-06-28 04:14:33 +0000";
familyName = Awaragira;
featurePrefixes = (
{
code = "languagesystem DFLT dflt;
languagesystem sinh dflt;
";
name = Languagesystems;
},
{
code = "# GSUB 

lookup akhnAkhandinSinhalalookup1 {
  lookupflag 0;
    sub ka-sinh virama-sinh \\uni200D ssa-sinh  by kSsa-sinh;
    sub ka-sinh virama-sinh \\uni200D va-sinh  by kVa-sinh;
    sub ta-sinh virama-sinh \\uni200D va-sinh  by tVa-sinh;
    sub ta-sinh virama-sinh \\uni200D tha-sinh  by tTha-sinh;
    sub na-sinh virama-sinh \\uni200D da-sinh  by nDa-sinh;
    sub na-sinh virama-sinh \\uni200D dha-sinh  by nDha-sinh;
    sub na-sinh virama-sinh \\uni200D va-sinh  by nVa-sinh;
    sub na-sinh virama-sinh \\uni200D tha-sinh  by nTha-sinh;
    sub da-sinh virama-sinh \\uni200D va-sinh  by dVa-sinh;
    sub da-sinh virama-sinh \\uni200D dha-sinh  by dDha-sinh;
    sub tta-sinh virama-sinh \\uni200D ttha-sinh  by ttTtha-sinh;
} akhnAkhandinSinhalalookup1;

lookup rphfRephForminSinhalalookup2 {
  lookupflag 0;
    sub ra-sinh virama-sinh \\uni200D  by repha-sinh;
} rphfRephForminSinhalalookup2;

lookup abvsAboveBaseSubstitutionsinSinhalalookup3 {
  lookupflag 0;
    sub aasign-sinh virama-sinh  by aasign-sinh;
    sub yasign-sinh virama-sinh  by yasign-sinh;
    sub ka-sinh virama-sinh  by k-sinh;
    sub kha-sinh virama-sinh  by kh-sinh;
    sub ga-sinh virama-sinh  by g-sinh;
    sub gha-sinh virama-sinh  by gh-sinh;
    sub nga-sinh virama-sinh  by ng-sinh;
    sub nnga-sinh virama-sinh  by nng-sinh;
    sub ca-sinh virama-sinh  by c-sinh;
    sub cha-sinh virama-sinh  by ch-sinh;
    sub ja-sinh virama-sinh  by j-sinh;
    sub jha-sinh virama-sinh  by jh-sinh;
    sub nya-sinh virama-sinh  by ny-sinh;
    sub jnya-sinh virama-sinh  by jny-sinh;
    sub nyja-sinh virama-sinh  by nyj-sinh;
    sub tta-sinh virama-sinh  by tt-sinh;
    sub ttha-sinh virama-sinh  by tth-sinh;
    sub dda-sinh virama-sinh  by dd-sinh;
    sub ddha-sinh virama-sinh  by ddh-sinh;
    sub nna-sinh virama-sinh  by nn-sinh;
    sub nndda-sinh virama-sinh  by nndd-sinh;
    sub ta-sinh virama-sinh  by t-sinh;
    sub tha-sinh virama-sinh  by th-sinh;
    sub da-sinh virama-sinh  by d-sinh;
    sub dha-sinh virama-sinh  by dh-sinh;
    sub na-sinh virama-sinh  by n-sinh;
    sub nda-sinh virama-sinh  by nd-sinh;
    sub pa-sinh virama-sinh  by p-sinh;
    sub pha-sinh virama-sinh  by ph-sinh;
    sub ba-sinh virama-sinh  by b-sinh;
    sub bha-sinh virama-sinh  by bh-sinh;
    sub ma-sinh virama-sinh  by m-sinh;
    sub mba-sinh virama-sinh  by mb-sinh;
    sub ya-sinh virama-sinh  by y-sinh;
    sub ra-sinh virama-sinh  by r-sinh;
    sub la-sinh virama-sinh  by l-sinh;
    sub va-sinh virama-sinh  by v-sinh;
    sub sha-sinh virama-sinh  by sh-sinh;
    sub ssa-sinh virama-sinh  by ss-sinh;
    sub sa-sinh virama-sinh  by s-sinh;
    sub ha-sinh virama-sinh  by h-sinh;
    sub lla-sinh virama-sinh  by ll-sinh;
    sub fa-sinh virama-sinh  by f-sinh;
    sub kSsa-sinh virama-sinh  by kSs-sinh;
    sub kVa-sinh virama-sinh  by kV-sinh;
    sub tVa-sinh virama-sinh  by tV-sinh;
    sub tTha-sinh virama-sinh  by tTh-sinh;
    sub nDa-sinh virama-sinh  by nD-sinh;
    sub nDha-sinh virama-sinh  by nDh-sinh;
    sub nVa-sinh virama-sinh  by nV-sinh;
    sub nTha-sinh virama-sinh  by nTh-sinh;
    sub dVa-sinh virama-sinh  by dV-sinh;
    sub dDha-sinh virama-sinh  by dDh-sinh;
    sub ttTtha-sinh virama-sinh  by ttTth-sinh;
    sub kRa-sinh virama-sinh  by kR-sinh;
    sub khRa-sinh virama-sinh  by khR-sinh;
    sub gRa-sinh virama-sinh  by gR-sinh;
    sub ghRa-sinh virama-sinh  by ghR-sinh;
    sub cRa-sinh virama-sinh  by cR-sinh;
    sub jRa-sinh virama-sinh  by jR-sinh;
    sub jhRa-sinh virama-sinh  by jhR-sinh;
    sub nyRa-sinh virama-sinh  by nyR-sinh;
    sub jnyRa-sinh virama-sinh  by jnyR-sinh;
    sub nyjRa-sinh virama-sinh  by nyjR-sinh;
    sub ttRa-sinh virama-sinh  by ttR-sinh;
    sub ddRa-sinh virama-sinh  by ddR-sinh;
    sub tRa-sinh virama-sinh  by tR-sinh;
    sub dRa-sinh virama-sinh  by dR-sinh;
    sub dhRa-sinh virama-sinh  by dhR-sinh;
    sub pRa-sinh virama-sinh  by pR-sinh;
    sub bRa-sinh virama-sinh  by bR-sinh;
    sub bhRa-sinh virama-sinh  by bhR-sinh;
    sub mRa-sinh virama-sinh  by mR-sinh;
    sub vRa-sinh virama-sinh  by vR-sinh;
    sub shRa-sinh virama-sinh  by shR-sinh;
    sub ssRa-sinh virama-sinh  by ssR-sinh;
    sub sRa-sinh virama-sinh  by sR-sinh;
    sub hRa-sinh virama-sinh  by hR-sinh;
    sub fRa-sinh virama-sinh  by fR-sinh;
} abvsAboveBaseSubstitutionsinSinhalalookup3;

lookup abvsAboveBaseSubstitutionsinSinhalalookup4 {
  lookupflag 0;
    sub ka-sinh isign-sinh  by kI-sinh;
    sub kha-sinh isign-sinh  by khI-sinh;
    sub ga-sinh isign-sinh  by gI-sinh;
    sub gha-sinh isign-sinh  by ghI-sinh;
    sub nga-sinh isign-sinh  by ngI-sinh;
    sub nnga-sinh isign-sinh  by nngI-sinh;
    sub ca-sinh isign-sinh  by cI-sinh;
    sub cha-sinh isign-sinh  by chI-sinh;
    sub ja-sinh isign-sinh  by jI-sinh;
    sub jha-sinh isign-sinh  by jhI-sinh;
    sub nya-sinh isign-sinh  by nyI-sinh;
    sub jnya-sinh isign-sinh  by jnyI-sinh;
    sub nyja-sinh isign-sinh  by nyjI-sinh;
    sub tta-sinh isign-sinh  by ttI-sinh;
    sub ttha-sinh isign-sinh  by tthI-sinh;
    sub dda-sinh isign-sinh  by ddI-sinh;
    sub ddha-sinh isign-sinh  by ddhI-sinh;
    sub nna-sinh isign-sinh  by nnI-sinh;
    sub nndda-sinh isign-sinh  by nnddI-sinh;
    sub ta-sinh isign-sinh  by tI-sinh;
    sub tha-sinh isign-sinh  by thI-sinh;
    sub da-sinh isign-sinh  by dI-sinh;
    sub dha-sinh isign-sinh  by dhI-sinh;
    sub na-sinh isign-sinh  by nI-sinh;
    sub nda-sinh isign-sinh  by ndI-sinh;
    sub pa-sinh isign-sinh  by pI-sinh;
    sub pha-sinh isign-sinh  by phI-sinh;
    sub ba-sinh isign-sinh  by bI-sinh;
    sub bha-sinh isign-sinh  by bhI-sinh;
    sub ma-sinh isign-sinh  by mI-sinh;
    sub mba-sinh isign-sinh  by mbI-sinh;
    sub ya-sinh isign-sinh  by yI-sinh;
    sub ra-sinh isign-sinh  by rI-sinh;
    sub la-sinh isign-sinh  by lI-sinh;
    sub va-sinh isign-sinh  by vI-sinh;
    sub sha-sinh isign-sinh  by shI-sinh;
    sub ssa-sinh isign-sinh  by ssI-sinh;
    sub sa-sinh isign-sinh  by sI-sinh;
    sub ha-sinh isign-sinh  by hI-sinh;
    sub lla-sinh isign-sinh  by llI-sinh;
    sub fa-sinh isign-sinh  by fI-sinh;
    sub kSsa-sinh isign-sinh  by kSsI-sinh;
    sub kVa-sinh isign-sinh  by kVI-sinh;
    sub tVa-sinh isign-sinh  by tVI-sinh;
    sub tTha-sinh isign-sinh  by tThI-sinh;
    sub nDa-sinh isign-sinh  by nDI-sinh;
    sub nDha-sinh isign-sinh  by nDhI-sinh;
    sub nVa-sinh isign-sinh  by nVI-sinh;
    sub nTha-sinh isign-sinh  by nThI-sinh;
    sub dVa-sinh isign-sinh  by dVI-sinh;
    sub dDha-sinh isign-sinh  by dDhI-sinh;
    sub ttTtha-sinh isign-sinh  by ttTthI-sinh;
    sub kRa-sinh isign-sinh  by kRI-sinh;
    sub khRa-sinh isign-sinh  by khRI-sinh;
    sub gRa-sinh isign-sinh  by gRI-sinh;
    sub ghRa-sinh isign-sinh  by ghRI-sinh;
    sub cRa-sinh isign-sinh  by cRI-sinh;
    sub jRa-sinh isign-sinh  by jRI-sinh;
    sub jhRa-sinh isign-sinh  by jhRI-sinh;
    sub nyRa-sinh isign-sinh  by nyRI-sinh;
    sub jnyRa-sinh isign-sinh  by jnyRI-sinh;
    sub ttRa-sinh isign-sinh  by ttRI-sinh;
    sub ddRa-sinh isign-sinh  by ddRI-sinh;
    sub tRa-sinh isign-sinh  by tRI-sinh;
    sub dRa-sinh isign-sinh  by dRI-sinh;
    sub dhRa-sinh isign-sinh  by dhRI-sinh;
    sub pRa-sinh isign-sinh  by pRI-sinh;
    sub bRa-sinh isign-sinh  by bRI-sinh;
    sub bhRa-sinh isign-sinh  by bhRI-sinh;
    sub mRa-sinh isign-sinh  by mRI-sinh;
    sub vRa-sinh isign-sinh  by vRI-sinh;
    sub shRa-sinh isign-sinh  by shRI-sinh;
    sub sRa-sinh isign-sinh  by sRI-sinh;
    sub hRa-sinh isign-sinh  by hRI-sinh;
    sub fRa-sinh isign-sinh  by fRI-sinh;
    sub yasign-sinh isign-sinh  by yasign_isign-sinh;
} abvsAboveBaseSubstitutionsinSinhalalookup4;

lookup abvsAboveBaseSubstitutionsinSinhalalookup5 {
  lookupflag 0;
    sub ka-sinh iisign-sinh  by kIi-sinh;
    sub kha-sinh iisign-sinh  by khIi-sinh;
    sub ga-sinh iisign-sinh  by gIi-sinh;
    sub gha-sinh iisign-sinh  by ghIi-sinh;
    sub nga-sinh iisign-sinh  by ngIi-sinh;
    sub nnga-sinh iisign-sinh  by nngIi-sinh;
    sub ca-sinh iisign-sinh  by cIi-sinh;
    sub cha-sinh iisign-sinh  by chIi-sinh;
    sub ja-sinh iisign-sinh  by jIi-sinh;
    sub jha-sinh iisign-sinh  by jhIi-sinh;
    sub nya-sinh iisign-sinh  by nyIi-sinh;
    sub jnya-sinh iisign-sinh  by jnyIi-sinh;
    sub nyja-sinh iisign-sinh  by nyjIi-sinh;
    sub tta-sinh iisign-sinh  by ttIi-sinh;
    sub ttha-sinh iisign-sinh  by tthIi-sinh;
    sub dda-sinh iisign-sinh  by ddIi-sinh;
    sub ddha-sinh iisign-sinh  by ddhIi-sinh;
    sub nna-sinh iisign-sinh  by nnIi-sinh;
    sub nndda-sinh iisign-sinh  by nnddIi-sinh;
    sub ta-sinh iisign-sinh  by tIi-sinh;
    sub tha-sinh iisign-sinh  by thIi-sinh;
    sub da-sinh iisign-sinh  by dIi-sinh;
    sub dha-sinh iisign-sinh  by dhIi-sinh;
    sub na-sinh iisign-sinh  by nIi-sinh;
    sub nda-sinh iisign-sinh  by ndIi-sinh;
    sub pa-sinh iisign-sinh  by pIi-sinh;
    sub pha-sinh iisign-sinh  by phIi-sinh;
    sub ba-sinh iisign-sinh  by bIi-sinh;
    sub bha-sinh iisign-sinh  by bhIi-sinh;
    sub ma-sinh iisign-sinh  by mIi-sinh;
    sub mba-sinh iisign-sinh  by mbIi-sinh;
    sub ya-sinh iisign-sinh  by yIi-sinh;
    sub ra-sinh iisign-sinh  by rIi-sinh;
    sub la-sinh iisign-sinh  by lIi-sinh;
    sub va-sinh iisign-sinh  by vIi-sinh;
    sub sha-sinh iisign-sinh  by shIi-sinh;
    sub ssa-sinh iisign-sinh  by ssIi-sinh;
    sub sa-sinh iisign-sinh  by sIi-sinh;
    sub ha-sinh iisign-sinh  by hIi-sinh;
    sub lla-sinh iisign-sinh  by llIi-sinh;
    sub fa-sinh iisign-sinh  by fIi-sinh;
    sub kSsa-sinh iisign-sinh  by kSsIi-sinh;
    sub kVa-sinh iisign-sinh  by kVIi-sinh;
    sub tVa-sinh iisign-sinh  by tVIi-sinh;
    sub tTha-sinh iisign-sinh  by tThIi-sinh;
    sub nDa-sinh iisign-sinh  by nDIi-sinh;
    sub nDha-sinh iisign-sinh  by nDhIi-sinh;
    sub nVa-sinh iisign-sinh  by nVIi-sinh;
    sub nTha-sinh iisign-sinh  by nThIi-sinh;
    sub dVa-sinh iisign-sinh  by dVIi-sinh;
    sub dDha-sinh iisign-sinh  by dDhIi-sinh;
    sub ttTtha-sinh iisign-sinh  by ttTthIi-sinh;
    sub kRa-sinh iisign-sinh  by kRIi-sinh;
    sub khRa-sinh iisign-sinh  by khRIi-sinh;
    sub gRa-sinh iisign-sinh  by gRIi-sinh;
    sub ghRa-sinh iisign-sinh  by ghRIi-sinh;
    sub cRa-sinh iisign-sinh  by cRIi-sinh;
    sub jRa-sinh iisign-sinh  by jRIi-sinh;
    sub jhRa-sinh iisign-sinh  by jhRIi-sinh;
    sub nyRa-sinh iisign-sinh  by nyRIi-sinh;
    sub jnyRa-sinh iisign-sinh  by jnyRIi-sinh;
    sub ttRa-sinh iisign-sinh  by ttRIi-sinh;
    sub ddRa-sinh iisign-sinh  by ddRIi-sinh;
    sub tRa-sinh iisign-sinh  by tRIi-sinh;
    sub dRa-sinh iisign-sinh  by dRIi-sinh;
    sub dhRa-sinh iisign-sinh  by dhRIi-sinh;
    sub pRa-sinh iisign-sinh  by pRIi-sinh;
    sub bRa-sinh iisign-sinh  by bRIi-sinh;
    sub bhRa-sinh iisign-sinh  by bhRIi-sinh;
    sub mRa-sinh iisign-sinh  by mRIi-sinh;
    sub vRa-sinh iisign-sinh  by vRIi-sinh;
    sub shRa-sinh iisign-sinh  by shRIi-sinh;
    sub sRa-sinh iisign-sinh  by sRIi-sinh;
    sub hRa-sinh iisign-sinh  by hRIi-sinh;
    sub fRa-sinh iisign-sinh  by fRIi-sinh;
    sub yasign-sinh iisign-sinh  by yasign_iisign-sinh;
} abvsAboveBaseSubstitutionsinSinhalalookup5;

lookup abvsAboveBaseSubstitutionsinSinhalalookup6 {
  lookupflag 0;
    sub ka-sinh repha-sinh  by ka_repha-sinh;
    sub kha-sinh repha-sinh  by kha_repha-sinh;
    sub ga-sinh repha-sinh  by ga_repha-sinh;
    sub gha-sinh repha-sinh  by gha_repha-sinh;
    sub ca-sinh repha-sinh  by ca_repha-sinh;
    sub ja-sinh repha-sinh  by ja_repha-sinh;
    sub jha-sinh repha-sinh  by jha_repha-sinh;
    sub nya-sinh repha-sinh  by nya_repha-sinh;
    sub jnya-sinh repha-sinh  by jnya_repha-sinh;
    sub tta-sinh repha-sinh  by tta_repha-sinh;
    sub dda-sinh repha-sinh  by dda_repha-sinh;
    sub nna-sinh repha-sinh  by nna_repha-sinh;
    sub ta-sinh repha-sinh  by ta_repha-sinh;
    sub tha-sinh repha-sinh  by tha_repha-sinh;
    sub da-sinh repha-sinh  by da_repha-sinh;
    sub dha-sinh repha-sinh  by dha_repha-sinh;
    sub na-sinh repha-sinh  by na_repha-sinh;
    sub pa-sinh repha-sinh  by pa_repha-sinh;
    sub ba-sinh repha-sinh  by ba_repha-sinh;
    sub bha-sinh repha-sinh  by bha_repha-sinh;
    sub ma-sinh repha-sinh  by ma_repha-sinh;
    sub ya-sinh repha-sinh  by ya_repha-sinh;
    sub va-sinh repha-sinh  by va_repha-sinh;
    sub sha-sinh repha-sinh  by sha_repha-sinh;
    sub ssa-sinh repha-sinh  by ssa_repha-sinh;
    sub sa-sinh repha-sinh  by sa_repha-sinh;
    sub ha-sinh repha-sinh  by ha_repha-sinh;
    sub yasign-sinh repha-sinh  by yasign_repha-sinh;
    sub yasign-sinh aasign-sinh repha-sinh  by yasign_repha_aasign-sinh;
    sub yasign-sinh usign-sinh repha-sinh  by yasign_repha_usign-sinh;
    sub yasign-sinh uusign-sinh repha-sinh  by yasign_repha_uusign-sinh;
} abvsAboveBaseSubstitutionsinSinhalalookup6;

lookup akhnAkhandinSinhalalookup7 {
  lookupflag 0;
    sub kSsa-sinh repha-sinh  by kSsa_repha-sinh;
    sub ka-sinh repha-sinh virama-sinh \\uni200D ssa-sinh  by kSsa_repha-sinh;
    sub kVa-sinh repha-sinh  by kVa_repha-sinh;
    sub ka-sinh repha-sinh virama-sinh \\uni200D va-sinh  by kVa_repha-sinh;
    sub tVa-sinh repha-sinh  by tVa_repha-sinh;
    sub ta-sinh repha-sinh virama-sinh \\uni200D va-sinh  by tVa_repha-sinh;
    sub tTha-sinh repha-sinh  by tTha_repha-sinh;
    sub ta-sinh repha-sinh virama-sinh \\uni200D tha-sinh  by tTha_repha-sinh;
    sub nDa-sinh repha-sinh  by nDa_repha-sinh;
    sub na-sinh repha-sinh virama-sinh \\uni200D da-sinh  by nDa_repha-sinh;
    sub nDha-sinh repha-sinh  by nDha_repha-sinh;
    sub na-sinh repha-sinh virama-sinh \\uni200D dha-sinh  by nDha_repha-sinh;
    sub nVa-sinh repha-sinh  by nVa_repha-sinh;
    sub na-sinh repha-sinh virama-sinh \\uni200D va-sinh  by nVa_repha-sinh;
    sub nTha-sinh repha-sinh  by nTha_repha-sinh;
    sub na-sinh repha-sinh virama-sinh \\uni200D tha-sinh  by nTha_repha-sinh;
    sub dVa-sinh repha-sinh  by dVa_repha-sinh;
    sub da-sinh repha-sinh virama-sinh \\uni200D va-sinh  by dVa_repha-sinh;
    sub dDha-sinh repha-sinh  by dDha_repha-sinh;
    sub da-sinh repha-sinh virama-sinh \\uni200D dha-sinh  by dDha_repha-sinh;
    sub ttTtha-sinh repha-sinh  by ttTtha_repha-sinh;
    sub tta-sinh repha-sinh virama-sinh \\uni200D ttha-sinh  by ttTtha_repha-sinh;
} akhnAkhandinSinhalalookup7;

lookup blwsBelowBaseSubstitutionsinSinhalalookup8 {
  lookupflag 0;
    sub ka-sinh usign-sinh  by kU-sinh;
    sub kha-sinh usign-sinh  by khU-sinh;
    sub ga-sinh usign-sinh  by gU-sinh;
    sub gha-sinh usign-sinh  by ghU-sinh;
    sub nnga-sinh usign-sinh  by nngU-sinh;
    sub ca-sinh usign-sinh  by cU-sinh;
    sub cha-sinh usign-sinh  by chU-sinh;
    sub ja-sinh usign-sinh  by jU-sinh;
    sub jha-sinh usign-sinh  by jhU-sinh;
    sub nya-sinh usign-sinh  by nyU-sinh;
    sub jnya-sinh usign-sinh  by jnyU-sinh;
    sub nyja-sinh usign-sinh  by nyjU-sinh;
    sub tta-sinh usign-sinh  by ttU-sinh;
    sub ttha-sinh usign-sinh  by tthU-sinh;
    sub dda-sinh usign-sinh  by ddU-sinh;
    sub ddha-sinh usign-sinh  by ddhU-sinh;
    sub nna-sinh usign-sinh  by nnU-sinh;
    sub nndda-sinh usign-sinh  by nnddU-sinh;
    sub ta-sinh usign-sinh  by tU-sinh;
    sub tha-sinh usign-sinh  by thU-sinh;
    sub da-sinh usign-sinh  by dU-sinh;
    sub dha-sinh usign-sinh  by dhU-sinh;
    sub na-sinh usign-sinh  by nU-sinh;
    sub nda-sinh usign-sinh  by ndU-sinh;
    sub pa-sinh usign-sinh  by pU-sinh;
    sub pha-sinh usign-sinh  by phU-sinh;
    sub ba-sinh usign-sinh  by bU-sinh;
    sub bha-sinh usign-sinh  by bhU-sinh;
    sub ma-sinh usign-sinh  by mU-sinh;
    sub mba-sinh usign-sinh  by mbU-sinh;
    sub ya-sinh usign-sinh  by yU-sinh;
    sub ra-sinh usign-sinh  by rU-sinh;
    sub la-sinh usign-sinh  by lU-sinh;
    sub va-sinh usign-sinh  by vU-sinh;
    sub sha-sinh usign-sinh  by shU-sinh;
    sub ssa-sinh usign-sinh  by ssU-sinh;
    sub sa-sinh usign-sinh  by sU-sinh;
    sub ha-sinh usign-sinh  by hU-sinh;
    sub lla-sinh usign-sinh  by llU-sinh;
    sub fa-sinh usign-sinh  by fU-sinh;
    sub kSsa-sinh usign-sinh  by kSsU-sinh;
    sub kVa-sinh usign-sinh  by kVU-sinh;
    sub tVa-sinh usign-sinh  by tVU-sinh;
    sub tTha-sinh usign-sinh  by tThU-sinh;
    sub nDa-sinh usign-sinh  by nDU-sinh;
    sub nDha-sinh usign-sinh  by nDhU-sinh;
    sub nVa-sinh usign-sinh  by nVU-sinh;
    sub nTha-sinh usign-sinh  by nThU-sinh;
    sub dVa-sinh usign-sinh  by dVU-sinh;
    sub dDha-sinh usign-sinh  by dDhU-sinh;
    sub ttTtha-sinh usign-sinh  by ttTthU-sinh;
    sub yasign-sinh usign-sinh  by yasign_usign-sinh;
} blwsBelowBaseSubstitutionsinSinhalalookup8;

lookup blwsBelowBaseSubstitutionsinSinhalalookup9 {
  lookupflag 0;
    sub ka-sinh uusign-sinh  by kUu-sinh;
    sub kha-sinh uusign-sinh  by khUu-sinh;
    sub ga-sinh uusign-sinh  by gUu-sinh;
    sub gha-sinh uusign-sinh  by ghUu-sinh;
    sub nnga-sinh uusign-sinh  by nngUu-sinh;
    sub ca-sinh uusign-sinh  by cUu-sinh;
    sub cha-sinh uusign-sinh  by chUu-sinh;
    sub ja-sinh uusign-sinh  by jUu-sinh;
    sub jha-sinh uusign-sinh  by jhUu-sinh;
    sub nya-sinh uusign-sinh  by nyUu-sinh;
    sub jnya-sinh uusign-sinh  by jnyUu-sinh;
    sub nyja-sinh uusign-sinh  by nyjUu-sinh;
    sub tta-sinh uusign-sinh  by ttUu-sinh;
    sub ttha-sinh uusign-sinh  by tthUu-sinh;
    sub dda-sinh uusign-sinh  by ddUu-sinh;
    sub ddha-sinh uusign-sinh  by ddhUu-sinh;
    sub nna-sinh uusign-sinh  by nnUu-sinh;
    sub nndda-sinh uusign-sinh  by nnddUu-sinh;
    sub ta-sinh uusign-sinh  by tUu-sinh;
    sub tha-sinh uusign-sinh  by thUu-sinh;
    sub da-sinh uusign-sinh  by dUu-sinh;
    sub dha-sinh uusign-sinh  by dhUu-sinh;
    sub na-sinh uusign-sinh  by nUu-sinh;
    sub nda-sinh uusign-sinh  by ndUu-sinh;
    sub pa-sinh uusign-sinh  by pUu-sinh;
    sub pha-sinh uusign-sinh  by phUu-sinh;
    sub ba-sinh uusign-sinh  by bUu-sinh;
    sub bha-sinh uusign-sinh  by bhUu-sinh;
    sub ma-sinh uusign-sinh  by mUu-sinh;
    sub mba-sinh uusign-sinh  by mbUu-sinh;
    sub ya-sinh uusign-sinh  by yUu-sinh;
    sub ra-sinh uusign-sinh  by rUu-sinh;
    sub la-sinh uusign-sinh  by lUu-sinh;
    sub va-sinh uusign-sinh  by vUu-sinh;
    sub sha-sinh uusign-sinh  by shUu-sinh;
    sub ssa-sinh uusign-sinh  by ssUu-sinh;
    sub sa-sinh uusign-sinh  by sUu-sinh;
    sub ha-sinh uusign-sinh  by hUu-sinh;
    sub lla-sinh uusign-sinh  by llUu-sinh;
    sub fa-sinh uusign-sinh  by fUu-sinh;
    sub kSsa-sinh uusign-sinh  by kSsUu-sinh;
    sub kVa-sinh uusign-sinh  by kVUu-sinh;
    sub tVa-sinh uusign-sinh  by tVUu-sinh;
    sub tTha-sinh uusign-sinh  by tThUu-sinh;
    sub nDa-sinh uusign-sinh  by nDUu-sinh;
    sub nDha-sinh uusign-sinh  by nDhUu-sinh;
    sub nVa-sinh uusign-sinh  by nVUu-sinh;
    sub nTha-sinh uusign-sinh  by nThUu-sinh;
    sub dVa-sinh uusign-sinh  by dVUu-sinh;
    sub dDha-sinh uusign-sinh  by dDhUu-sinh;
    sub ttTtha-sinh uusign-sinh  by ttTthUu-sinh;
    sub yasign-sinh uusign-sinh  by yasign_uusign-sinh;
} blwsBelowBaseSubstitutionsinSinhalalookup9;

lookup SingleSubstitutionlookup11 {
  lookupflag 0;
    sub usign-sinh by usign-sinh.sub ;
    sub uusign-sinh by uusign-sinh.sub ;
} SingleSubstitutionlookup11;

lookup blwsBelowBaseSubstitutionsinSinhalalookup10 {
  lookupflag 0;
    @cc10_match_1 = [uusign-sinh ];
    @cc10_match_2 = [usign-sinh ];
    @cc10_back_1 = [kRa-sinh khRa-sinh gRa-sinh ghRa-sinh cRa-sinh jRa-sinh jhRa-sinh nyRa-sinh jnyRa-sinh 
	nyjRa-sinh ttRa-sinh ddRa-sinh tRa-sinh dRa-sinh dhRa-sinh pRa-sinh bRa-sinh 
	bhRa-sinh mRa-sinh vRa-sinh shRa-sinh ssRa-sinh sRa-sinh hRa-sinh fRa-sinh 
	nDRa-sinh ];
    sub @cc10_back_1 @cc10_match_1'lookup SingleSubstitutionlookup11  ;
    sub @cc10_back_1 @cc10_match_2'lookup SingleSubstitutionlookup11  ;
} blwsBelowBaseSubstitutionsinSinhalalookup10;

lookup vatuVattuVariantsinSinhalalookup12 {
  lookupflag 0;
    sub virama-sinh \\uni200D ra-sinh  by rasign-sinh;
    sub virama-sinh \\uni200D ya-sinh  by yasign-sinh;
} vatuVattuVariantsinSinhalalookup12;

lookup pstsPostBaseSubstitutionsinSinhalalookup13 {
  lookupflag 0;
    sub ra-sinh aesign-sinh  by rAe-sinh;
    sub ra-sinh aaesign-sinh  by rAae-sinh;
} pstsPostBaseSubstitutionsinSinhalalookup13;

lookup vatuVattuVariantsinSinhalalookup14 {
  lookupflag 0;
    sub ka-sinh rasign-sinh  by kRa-sinh;
    sub kha-sinh rasign-sinh  by khRa-sinh;
    sub ga-sinh rasign-sinh  by gRa-sinh;
    sub gha-sinh rasign-sinh  by ghRa-sinh;
    sub ca-sinh rasign-sinh  by cRa-sinh;
    sub ja-sinh rasign-sinh  by jRa-sinh;
    sub jha-sinh rasign-sinh  by jhRa-sinh;
    sub nya-sinh rasign-sinh  by nyRa-sinh;
    sub jnya-sinh rasign-sinh  by jnyRa-sinh;
    sub nyja-sinh rasign-sinh  by nyjRa-sinh;
    sub tta-sinh rasign-sinh  by ttRa-sinh;
    sub dda-sinh rasign-sinh  by ddRa-sinh;
    sub ta-sinh rasign-sinh  by tRa-sinh;
    sub da-sinh rasign-sinh  by dRa-sinh;
    sub dha-sinh rasign-sinh  by dhRa-sinh;
    sub pa-sinh rasign-sinh  by pRa-sinh;
    sub ba-sinh rasign-sinh  by bRa-sinh;
    sub bha-sinh rasign-sinh  by bhRa-sinh;
    sub ma-sinh rasign-sinh  by mRa-sinh;
    sub va-sinh rasign-sinh  by vRa-sinh;
    sub sha-sinh rasign-sinh  by shRa-sinh;
    sub ssa-sinh rasign-sinh  by ssRa-sinh;
    sub sa-sinh rasign-sinh  by sRa-sinh;
    sub ha-sinh rasign-sinh  by hRa-sinh;
    sub fa-sinh rasign-sinh  by fRa-sinh;
    sub nDa-sinh rasign-sinh  by nDRa-sinh;
} vatuVattuVariantsinSinhalalookup14;

lookup pstfPostBaseFormsinSinhalalookup15 {
  lookupflag 0;
    sub eesign-sinh by virama-sinh ;
    sub osign-sinh by aasign-sinh ;
    sub oosign-sinh by aasign_virama-sinh ;
    sub ausign-sinh by vocalicllsign-sinh ;
} pstfPostBaseFormsinSinhalalookup15;

lookup akhnAkhandinSinhalalookup16 {
  lookupflag 0;
    sub \\uni200D virama-sinh  by touch-sinh;
} akhnAkhandinSinhalalookup16;

lookup supsSuperscriptinSinhalalookup17 {
  lookupflag 0;
    sub \\one by \\uni00B9 ;
    sub \\two by \\uni00B2 ;
    sub \\three by \\uni00B3 ;
} supsSuperscriptinSinhalalookup17;

lookup fracDiagonalFractionsinSinhalalookup18 {
  lookupflag 0;
    sub \\one \\slash \\four  by \\onequarter;
    sub \\one \\slash \\two  by \\onehalf;
    sub \\three \\slash \\four  by \\threequarters;
} fracDiagonalFractionsinSinhalalookup18;

# GPOS 
lookup distDistanceinSinhalalookup0 {
  lookupflag 0;
    pos touch-sinh <0 0 -110 0>;
} distDistanceinSinhalalookup0;

";
name = Prefix;
}
);
features = (
{
code = " script sinh;
     language dflt ;
      lookup akhnAkhandinSinhalalookup1;
      lookup akhnAkhandinSinhalalookup7;
      lookup akhnAkhandinSinhalalookup16;";
tag = akhn;
},
{
code = " script sinh;
     language dflt ;
      lookup rphfRephForminSinhalalookup2;";
tag = rphf;
},
{
code = " script sinh;
     language dflt ;
      lookup abvsAboveBaseSubstitutionsinSinhalalookup3;
      lookup abvsAboveBaseSubstitutionsinSinhalalookup4;
      lookup abvsAboveBaseSubstitutionsinSinhalalookup5;
      lookup abvsAboveBaseSubstitutionsinSinhalalookup6;";
tag = abvs;
},
{
code = " script sinh;
     language dflt ;
      lookup blwsBelowBaseSubstitutionsinSinhalalookup8;
      lookup blwsBelowBaseSubstitutionsinSinhalalookup9;
      lookup blwsBelowBaseSubstitutionsinSinhalalookup10;";
tag = blws;
},
{
code = " script sinh;
     language dflt ;
      lookup vatuVattuVariantsinSinhalalookup12;
      lookup vatuVattuVariantsinSinhalalookup14;";
tag = vatu;
},
{
code = " script sinh;
     language dflt ;
      lookup pstsPostBaseSubstitutionsinSinhalalookup13;";
tag = psts;
},
{
code = " script sinh;
     language dflt ;
      lookup pstfPostBaseFormsinSinhalalookup15;";
tag = pstf;
},
{
code = " script DFLT;
     language dflt ;
      lookup distDistanceinSinhalalookup0;

 script sinh;
     language dflt ;
      lookup distDistanceinSinhalalookup0;";
tag = dist;
}
);
fontMaster = (
{
guides = (
{
pos = (500,388.75);
},
{
pos = (500,640);
},
{
pos = (500,534.75);
},
{
pos = (500,737.003);
}
);
id = m001;
metricValues = (
{
pos = 800;
},
{
over = 10;
pos = 769;
},
{
pos = -200;
},
{
},
{
pos = 684;
},
{
over = 11;
pos = 825;
},
{
pos = -242;
}
);
name = Regular;
}
);
instances = (
{
customParameters = (
{
name = postscriptWeightName;
value = Regular;
}
);
instanceInterpolations = {
m001 = 1;
};
name = Regular;
properties = (
{
key = postscriptFontName;
value = "Awaragira-Regular";
},
{
key = postscriptFullNames;
values = (
{
language = dflt;
value = Awaragira;
}
);
},
{
key = styleMapFamilyNames;
values = (
{
language = dflt;
value = Awaragira;
}
);
}
);
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = descender;
},
{
type = "italic angle";
},
{
name = "zone 1";
},
{
name = "zone 2";
},
{
name = "zone 3";
}
);
properties = (
{
key = copyrights;
values = (
{
language = dflt;
value = "Copyright 2021 The Awaragira Project Authors (https://github.com/mooniak/awaragira-font)";
}
);
},
{
key = designers;
values = (
{
language = dflt;
value = "Rajitha Manaperi";
}
);
},
{
key = designerURL;
value = "http://mooniak.com";
},
{
key = licenses;
values = (
{
language = dflt;
value = "This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL";
}
);
},
{
key = licenseURL;
value = "http://scripts.sil.org/OFL";
},
{
key = manufacturers;
values = (
{
language = dflt;
value = Mooniak;
}
);
},
{
key = manufacturerURL;
value = "http://mooniak.com";
},
{
key = sampleTexts;
values = (
{
language = dflt;
value = "දැරණියගලට ඉහල අහසේ දඟකරන වලාපෙළ මවනා සොඳුරු දසුන රාත්‍රිය උදාවත් සමග ක්‍ෂයවේ.";
}
);
},
{
key = vendorID;
value = MNIK;
}
);
settings = {
disablesNiceNames = 1;
};
unitsPerEm = 1000;
userData = {
UFOFormat = 3;
};
versionMajor = 0;
versionMinor = 10;
}
