(
sinA,
sinAa,
sinAae,
sinAe,
sinAi,
sinAu,
sinBa,
sinBha,
sinCa,
sinCha,
sinDa,
sinDda,
sinDdha,
sinDha,
sinE,
sinEe,
sinFa,
sinGa,
sinGha,
sinHa,
sinI,
sinIi,
sinJa,
sinJha,
sinJnya,
sinKa,
sinKha,
sinLVocalic,
sinLa,
sinLlVocalic,
sinLla,
sinMa,
sinMba,
sinNa,
sinNda,
sinNga,
sinNna,
sinNndda,
sinNnga,
sinNya,
sinNyja,
sinO,
sinOo,
sinPa,
sinPha,
sinRVocalic,
sinRa,
sinRrVocalic,
sinSa,
sinSha,
sinSsa,
sinTa,
sinTha,
sinTta,
sinTtha,
sinU,
sinUu,
sinVa,
sinYa,
u111E1,
u111E2,
u111E6,
sinZerolith,
sinOnelith,
sinTwolith,
sinThreelith,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
fraction,
onehalf,
onequarter,
threequarters,
uni00B9,
uni00B2,
uni00B3,
uni2074,
space,
uni200C,
uni200D,
CR,
NULL,
.notdef,
sinkundaliya,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
asterisk,
slash,
hyphen,
uni00AD,
parenleft,
parenright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemotleft,
guillemotright,
guilsinglleft,
guilsinglright,
uni25CC,
sinMatraI,
sinMatraIi,
sinMatraU,
sinMatraUu,
sinVirama,
sinAnusvara,
sinMatraAa,
sinMatraAae,
sinMatraAe,
sinMatraAi,
sinMatraAu,
sinMatraE,
sinMatraEe,
sinMatraLl,
sinMatraLs,
sinMatraO,
sinMatraOo,
sinMatraR,
sinMatraRr,
sinVisarga,
sinB,
sinBI,
sinBIi,
sinBR,
sinBRI,
sinBRIi,
sinBRa,
sinBU,
sinBUu,
sinBh,
sinBhI,
sinBhIi,
sinBhR,
sinBhRI,
sinBhRIi,
sinBhRa,
sinBhU,
sinBhUu,
sinC,
sinCI,
sinCIi,
sinCR,
sinCRI,
sinCRIi,
sinCRa,
sinCU,
sinCUu,
sinCh,
sinChI,
sinChIi,
sinChU,
sinChUu,
sinD,
sinDDh,
sinDDhI,
sinDDhIi,
sinDDhU,
sinDDhUu,
sinDDha,
sinDI,
sinDIi,
sinDR,
sinDRI,
sinDRIi,
sinDRa,
sinDU,
sinDUu,
sinDV,
sinDVI,
sinDVIi,
sinDVU,
sinDVUu,
sinDVa,
sinDd,
sinDdI,
sinDdIi,
sinDdR,
sinDdRI,
sinDdRIi,
sinDdRa,
sinDdU,
sinDdUu,
sinDdh,
sinDdhI,
sinDdhIi,
sinDdhU,
sinDdhUu,
sinDh,
sinDhI,
sinDhIi,
sinDhR,
sinDhRI,
sinDhRIi,
sinDhRa,
sinDhU,
sinDhUu,
sinF,
sinFI,
sinFIi,
sinFR,
sinFRI,
sinFRIi,
sinFRa,
sinFU,
sinFUu,
sinG,
sinGI,
sinGIi,
sinGR,
sinGRI,
sinGRIi,
sinGRa,
sinGU,
sinGUu,
sinGh,
sinGhI,
sinGhIi,
sinGhR,
sinGhRI,
sinGhRIi,
sinGhRa,
sinGhU,
sinGhUu,
sinH,
sinHI,
sinHIi,
sinHR,
sinHRI,
sinHRIi,
sinHRa,
sinHU,
sinHUu,
sinJ,
sinJI,
sinJIi,
sinJR,
sinJRI,
sinJRIi,
sinJRa,
sinJU,
sinJUu,
sinJh,
sinJhI,
sinJhIi,
sinJhR,
sinJhRI,
sinJhRIi,
sinJhRa,
sinJhU,
sinJhUu,
sinJny,
sinJnyI,
sinJnyIi,
sinJnyR,
sinJnyRI,
sinJnyRIi,
sinJnyRa,
sinJnyU,
sinJnyUu,
sinK,
sinKI,
sinKIi,
sinKR,
sinKRI,
sinKRIi,
sinKRa,
sinKSs,
sinKSsI,
sinKSsIi,
sinKSsU,
sinKSsUu,
sinKSsa,
sinKU,
sinKUu,
sinKV,
sinKVI,
sinKVIi,
sinKVU,
sinKVUu,
sinKVa,
sinKh,
sinKhI,
sinKhIi,
sinKhR,
sinKhRI,
sinKhRIi,
sinKhRa,
sinKhU,
sinKhUu,
sinL,
sinLI,
sinLIi,
sinLU,
sinLUu,
sinLl,
sinLlI,
sinLlIi,
sinLlU,
sinLlUu,
sinM,
sinMI,
sinMIi,
sinMR,
sinMRI,
sinMRIi,
sinMRa,
sinMU,
sinMUu,
sinMb,
sinMbI,
sinMbIi,
sinMbU,
sinMbUu,
sinN,
sinND,
sinNDI,
sinNDIi,
sinNDRa,
sinNDU,
sinNDUu,
sinNDa,
sinNDh,
sinNDhI,
sinNDhIi,
sinNDhU,
sinNDhUu,
sinNDha,
sinNI,
sinNIi,
sinNTh,
sinNThI,
sinNThIi,
sinNThU,
sinNThUu,
sinNTha,
sinNU,
sinNUu,
sinNV,
sinNVI,
sinNVIi,
sinNVU,
sinNVUu,
sinNVa,
sinNd,
sinNdI,
sinNdIi,
sinNdU,
sinNdUu,
sinNg,
sinNgI,
sinNgIi,
sinNn,
sinNnI,
sinNnIi,
sinNnU,
sinNnUu,
sinNndd,
sinNnddI,
sinNnddIi,
sinNnddU,
sinNnddUu,
sinNng,
sinNngI,
sinNngIi,
sinNngU,
sinNngUu,
sinNy,
sinNyI,
sinNyIi,
sinNyR,
sinNyRI,
sinNyRIi,
sinNyRa,
sinNyU,
sinNyUu,
sinNyj,
sinNyjI,
sinNyjIi,
sinNyjR,
sinNyjRa,
sinNyjU,
sinNyjUu,
sinP,
sinPI,
sinPIi,
sinPR,
sinPRI,
sinPRIi,
sinPRa,
sinPU,
sinPUu,
sinPh,
sinPhI,
sinPhIi,
sinPhU,
sinPhUu,
sinR,
sinRAae,
sinRAe,
sinRI,
sinRIi,
sinRU,
sinRUu,
sinRakar,
sinReph,
sinS,
sinSI,
sinSIi,
sinSR,
sinSRI,
sinSRIi,
sinSRa,
sinSU,
sinSUu,
sinSh,
sinShI,
sinShIi,
sinShR,
sinShRI,
sinShRIi,
sinShRa,
sinShU,
sinShUu,
sinSs,
sinSsI,
sinSsIi,
sinSsR,
sinSsRa,
sinSsU,
sinSsUu,
sinT,
sinTI,
sinTIi,
sinTR,
sinTRI,
sinTRIi,
sinTRa,
sinTTh,
sinTThI,
sinTThIi,
sinTThU,
sinTThUu,
sinTTha,
sinTU,
sinTUu,
sinTV,
sinTVI,
sinTVIi,
sinTVU,
sinTVUu,
sinTVa,
sinTh,
sinThI,
sinThIi,
sinThU,
sinThUu,
sinTouch,
sinTt,
sinTtI,
sinTtIi,
sinTtR,
sinTtRI,
sinTtRIi,
sinTtRa,
sinTtTth,
sinTtTthI,
sinTtTthIi,
sinTtTthU,
sinTtTthUu,
sinTtTtha,
sinTtU,
sinTtUu,
sinTth,
sinTthI,
sinTthIi,
sinTthU,
sinTthUu,
sinV,
sinVI,
sinVIi,
sinVR,
sinVRI,
sinVRIi,
sinVRa,
sinVU,
sinVUu,
sinY,
sinYI,
sinYIi,
sinYU,
sinYUu,
sinYansa_MatraU,
sinYansa_MatraUu,
sinYansaya,
sinYansaya_Reph_MatraAa,
sinYansaya_Reph_MatraU,
sinYansaya_Reph_MatraUu,
NameMe.880,
sinBa.reph,
sinBha.reph,
sinCa.reph,
sinDDha.reph,
sinDVa.reph,
sinDa.reph,
sinDda.reph,
sinDha.reph,
sinGa.reph,
sinGha.reph,
sinHa.reph,
sinJa.reph,
sinJha.reph,
sinJnya.reph,
sinKSsa.reph,
sinKVa.reph,
sinKa.reph,
sinKha.reph,
sinMa.reph,
sinMatraAa.virama,
sinMatraU.sub,
sinMatraUu.sub,
sinNDa.reph,
sinNDha.reph,
sinNTha.reph,
sinNVa.reph,
sinNa.reph,
sinNna.reph,
sinNya.reph,
sinPa.reph,
sinSa.reph,
sinSha.reph,
sinSsa.reph,
sinTTha.reph,
sinTVa.reph,
sinTa.reph,
sinTha.reph,
sinTtTtha.reph,
sinTta.reph,
sinVa.reph,
sinYa.reph,
sinYansaya.MatraI,
sinYansaya.MatraIi,
sinYansaya.reph
)