(
"a-sinh",
"aa-sinh",
"ae-sinh",
"aae-sinh",
"i-sinh",
"ii-sinh",
"u-sinh",
"uu-sinh",
"vocalicr-sinh",
"vocalicrr-sinh",
"vocalicl-sinh",
"vocalicll-sinh",
"e-sinh",
"ee-sinh",
"ai-sinh",
"o-sinh",
"oo-sinh",
"au-sinh",
"ka-sinh",
"kha-sinh",
"ga-sinh",
"gha-sinh",
"nga-sinh",
"nnga-sinh",
"ca-sinh",
"cha-sinh",
"ja-sinh",
"jha-sinh",
"nya-sinh",
"jnya-sinh",
"nyja-sinh",
"tta-sinh",
"ttha-sinh",
"dda-sinh",
"ddha-sinh",
"nna-sinh",
"nndda-sinh",
"ta-sinh",
"tha-sinh",
"da-sinh",
"dha-sinh",
"na-sinh",
"nda-sinh",
"pa-sinh",
"pha-sinh",
"ba-sinh",
"bha-sinh",
"ma-sinh",
"mba-sinh",
"ya-sinh",
"ra-sinh",
"la-sinh",
"va-sinh",
"sha-sinh",
"ssa-sinh",
"sa-sinh",
"ha-sinh",
"lla-sinh",
"fa-sinh",
u111E1,
u111E2,
u111E6,
"lithzero-sinh",
"lithone-sinh",
"lithtwo-sinh",
"liththree-sinh",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
fraction,
onehalf,
onequarter,
threequarters,
uni00B9,
uni00B2,
uni00B3,
uni2074,
uni200C,
uni200D,
.notdef,
CR,
NULL,
space,
period,
comma,
colon,
semicolon,
exclam,
question,
periodcentered,
asterisk,
kunddaliya,
slash,
hyphen,
parenleft,
parenright,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
ellipsis,
exclamdown,
questiondown,
uni00AD,
quotesinglbase,
quotedblbase,
guillemotleft,
guillemotright,
guilsinglleft,
guilsinglright,
uni25CC,
"visargaya-sinh",
"virama-sinh",
"isign-sinh",
"iisign-sinh",
"usign-sinh",
"uusign-sinh",
"anusvaraya-sinh",
"aasign-sinh",
"aesign-sinh",
"aaesign-sinh",
"vocalicrsign-sinh",
"esign-sinh",
"eesign-sinh",
"aisign-sinh",
"osign-sinh",
"oosign-sinh",
"ausign-sinh",
"vocalicllsign-sinh",
"vocaliclsign-sinh",
"vocalicrrsign-sinh",
"b-sinh",
"bI-sinh",
"bIi-sinh",
"bR-sinh",
"bRI-sinh",
"bRIi-sinh",
"bRa-sinh",
"bU-sinh",
"bUu-sinh",
"bh-sinh",
"bhI-sinh",
"bhIi-sinh",
"bhR-sinh",
"bhRI-sinh",
"bhRIi-sinh",
"bhRa-sinh",
"bhU-sinh",
"bhUu-sinh",
"c-sinh",
"cI-sinh",
"cIi-sinh",
"cR-sinh",
"cRI-sinh",
"cRIi-sinh",
"cRa-sinh",
"cU-sinh",
"cUu-sinh",
"ch-sinh",
"chI-sinh",
"chIi-sinh",
"chU-sinh",
"chUu-sinh",
"d-sinh",
"dDh-sinh",
"dDhI-sinh",
"dDhIi-sinh",
"dDhU-sinh",
"dDhUu-sinh",
"dDha-sinh",
"dI-sinh",
"dIi-sinh",
"dR-sinh",
"dRI-sinh",
"dRIi-sinh",
"dRa-sinh",
"dU-sinh",
"dUu-sinh",
"dV-sinh",
"dVI-sinh",
"dVIi-sinh",
"dVU-sinh",
"dVUu-sinh",
"dVa-sinh",
"dd-sinh",
"ddI-sinh",
"ddIi-sinh",
"ddR-sinh",
"ddRI-sinh",
"ddRIi-sinh",
"ddRa-sinh",
"ddU-sinh",
"ddUu-sinh",
"ddh-sinh",
"ddhI-sinh",
"ddhIi-sinh",
"ddhU-sinh",
"ddhUu-sinh",
"dh-sinh",
"dhI-sinh",
"dhIi-sinh",
"dhR-sinh",
"dhRI-sinh",
"dhRIi-sinh",
"dhRa-sinh",
"dhU-sinh",
"dhUu-sinh",
"f-sinh",
"fI-sinh",
"fIi-sinh",
"fR-sinh",
"fRI-sinh",
"fRIi-sinh",
"fRa-sinh",
"fU-sinh",
"fUu-sinh",
"g-sinh",
"gI-sinh",
"gIi-sinh",
"gR-sinh",
"gRI-sinh",
"gRIi-sinh",
"gRa-sinh",
"gU-sinh",
"gUu-sinh",
"gh-sinh",
"ghI-sinh",
"ghIi-sinh",
"ghR-sinh",
"ghRI-sinh",
"ghRIi-sinh",
"ghRa-sinh",
"ghU-sinh",
"ghUu-sinh",
"h-sinh",
"hI-sinh",
"hIi-sinh",
"hR-sinh",
"hRI-sinh",
"hRIi-sinh",
"hRa-sinh",
"hU-sinh",
"hUu-sinh",
"j-sinh",
"jI-sinh",
"jIi-sinh",
"jR-sinh",
"jRI-sinh",
"jRIi-sinh",
"jRa-sinh",
"jU-sinh",
"jUu-sinh",
"jh-sinh",
"jhI-sinh",
"jhIi-sinh",
"jhR-sinh",
"jhRI-sinh",
"jhRIi-sinh",
"jhRa-sinh",
"jhU-sinh",
"jhUu-sinh",
"jny-sinh",
"jnyI-sinh",
"jnyIi-sinh",
"jnyR-sinh",
"jnyRI-sinh",
"jnyRIi-sinh",
"jnyRa-sinh",
"jnyU-sinh",
"jnyUu-sinh",
"k-sinh",
"kI-sinh",
"kIi-sinh",
"kR-sinh",
"kRI-sinh",
"kRIi-sinh",
"kRa-sinh",
"kSs-sinh",
"kSsI-sinh",
"kSsIi-sinh",
"kSsU-sinh",
"kSsUu-sinh",
"kSsa-sinh",
"kU-sinh",
"kUu-sinh",
"kV-sinh",
"kVI-sinh",
"kVIi-sinh",
"kVU-sinh",
"kVUu-sinh",
"kVa-sinh",
"kh-sinh",
"khI-sinh",
"khIi-sinh",
"khR-sinh",
"khRI-sinh",
"khRIi-sinh",
"khRa-sinh",
"khU-sinh",
"khUu-sinh",
"l-sinh",
"lI-sinh",
"lIi-sinh",
"lU-sinh",
"lUu-sinh",
"ll-sinh",
"llI-sinh",
"llIi-sinh",
"llU-sinh",
"llUu-sinh",
"m-sinh",
"mI-sinh",
"mIi-sinh",
"mR-sinh",
"mRI-sinh",
"mRIi-sinh",
"mRa-sinh",
"mU-sinh",
"mUu-sinh",
"mb-sinh",
"mbI-sinh",
"mbIi-sinh",
"mbU-sinh",
"mbUu-sinh",
"n-sinh",
"nD-sinh",
"nDI-sinh",
"nDIi-sinh",
"nDRa-sinh",
"nDU-sinh",
"nDUu-sinh",
"nDa-sinh",
"nDh-sinh",
"nDhI-sinh",
"nDhIi-sinh",
"nDhU-sinh",
"nDhUu-sinh",
"nDha-sinh",
"nI-sinh",
"nIi-sinh",
"nTh-sinh",
"nThI-sinh",
"nThIi-sinh",
"nThU-sinh",
"nThUu-sinh",
"nTha-sinh",
"nU-sinh",
"nUu-sinh",
"nV-sinh",
"nVI-sinh",
"nVIi-sinh",
"nVU-sinh",
"nVUu-sinh",
"nVa-sinh",
"nd-sinh",
"ndI-sinh",
"ndIi-sinh",
"ndU-sinh",
"ndUu-sinh",
"ng-sinh",
"ngI-sinh",
"ngIi-sinh",
"nn-sinh",
"nnI-sinh",
"nnIi-sinh",
"nnU-sinh",
"nnUu-sinh",
"nndd-sinh",
"nnddI-sinh",
"nnddIi-sinh",
"nnddU-sinh",
"nnddUu-sinh",
"nng-sinh",
"nngI-sinh",
"nngIi-sinh",
"nngU-sinh",
"nngUu-sinh",
"ny-sinh",
"nyI-sinh",
"nyIi-sinh",
"nyR-sinh",
"nyRI-sinh",
"nyRIi-sinh",
"nyRa-sinh",
"nyU-sinh",
"nyUu-sinh",
"nyj-sinh",
"nyjI-sinh",
"nyjIi-sinh",
"nyjR-sinh",
"nyjRa-sinh",
"nyjU-sinh",
"nyjUu-sinh",
"p-sinh",
"pI-sinh",
"pIi-sinh",
"pR-sinh",
"pRI-sinh",
"pRIi-sinh",
"pRa-sinh",
"pU-sinh",
"pUu-sinh",
"ph-sinh",
"phI-sinh",
"phIi-sinh",
"phU-sinh",
"phUu-sinh",
"r-sinh",
"rAae-sinh",
"rAe-sinh",
"rI-sinh",
"rIi-sinh",
"rU-sinh",
"rUu-sinh",
"rasign-sinh",
"repha-sinh",
"s-sinh",
"sI-sinh",
"sIi-sinh",
"sR-sinh",
"sRI-sinh",
"sRIi-sinh",
"sRa-sinh",
"sU-sinh",
"sUu-sinh",
"sh-sinh",
"shI-sinh",
"shIi-sinh",
"shR-sinh",
"shRI-sinh",
"shRIi-sinh",
"shRa-sinh",
"shU-sinh",
"shUu-sinh",
"ss-sinh",
"ssI-sinh",
"ssIi-sinh",
"ssR-sinh",
"ssRa-sinh",
"ssU-sinh",
"ssUu-sinh",
"t-sinh",
"tI-sinh",
"tIi-sinh",
"tR-sinh",
"tRI-sinh",
"tRIi-sinh",
"tRa-sinh",
"tTh-sinh",
"tThI-sinh",
"tThIi-sinh",
"tThU-sinh",
"tThUu-sinh",
"tTha-sinh",
"tU-sinh",
"tUu-sinh",
"tV-sinh",
"tVI-sinh",
"tVIi-sinh",
"tVU-sinh",
"tVUu-sinh",
"tVa-sinh",
"th-sinh",
"thI-sinh",
"thIi-sinh",
"thU-sinh",
"thUu-sinh",
"touch-sinh",
"tt-sinh",
"ttI-sinh",
"ttIi-sinh",
"ttR-sinh",
"ttRI-sinh",
"ttRIi-sinh",
"ttRa-sinh",
"ttTth-sinh",
"ttTthI-sinh",
"ttTthIi-sinh",
"ttTthU-sinh",
"ttTthUu-sinh",
"ttTtha-sinh",
"ttU-sinh",
"ttUu-sinh",
"tth-sinh",
"tthI-sinh",
"tthIi-sinh",
"tthU-sinh",
"tthUu-sinh",
"v-sinh",
"vI-sinh",
"vIi-sinh",
"vR-sinh",
"vRI-sinh",
"vRIi-sinh",
"vRa-sinh",
"vU-sinh",
"vUu-sinh",
"y-sinh",
"yI-sinh",
"yIi-sinh",
"yU-sinh",
"yUu-sinh",
"yasign_usign-sinh",
"yasign_uusign-sinh",
"yasign-sinh",
"yasign_repha_aasign-sinh",
"yasign_repha_usign-sinh",
"yasign_repha_uusign-sinh",
NameMe.880,
"ba_repha-sinh",
"bha_repha-sinh",
"ca_repha-sinh",
"dDha_repha-sinh",
"dVa_repha-sinh",
"da_repha-sinh",
"dda_repha-sinh",
"dha_repha-sinh",
"ga_repha-sinh",
"gha_repha-sinh",
"ha_repha-sinh",
"ja_repha-sinh",
"jha_repha-sinh",
"jnya_repha-sinh",
"kSsa_repha-sinh",
"kVa_repha-sinh",
"ka_repha-sinh",
"kha_repha-sinh",
"ma_repha-sinh",
"aasign_virama-sinh",
"usign-sinh.sub",
"uusign-sinh.sub",
"nDa_repha-sinh",
"nDha_repha-sinh",
"nTha_repha-sinh",
"nVa_repha-sinh",
"na_repha-sinh",
"nna_repha-sinh",
"nya_repha-sinh",
"pa_repha-sinh",
"sa_repha-sinh",
"sha_repha-sinh",
"ssa_repha-sinh",
"tTha_repha-sinh",
"tVa_repha-sinh",
"ta_repha-sinh",
"tha_repha-sinh",
"ttTtha_repha-sinh",
"tta_repha-sinh",
"va_repha-sinh",
"ya_repha-sinh",
"yasign_isign-sinh",
"yasign_iisign-sinh",
"yasign_repha-sinh"
)